<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/metricas.css}" rel="stylesheet" />
    <!-- <link href="../static/styles/main.css" rel="stylesheet" /> -->
    <title>Métricas Consultas</title>
</head>
<body>
    <div class = "topBar">
        <h1>Conteo de Enfermedades, Productos Naturales y Medicamentos recogidos en las últimas 24 horas</h1>
    </div>
    <div class = "BoxMetricas">
        <p>El total de enfermedades en español es: <span th:text="${EnfEsp}"></span>.
        <br>
        El total de productos naturales en español es: <span th:text="${ProdNatEsp}">  </span>.
        <br>
        El total de medicamentos en español es: <span th:text="${MedEsp}">  </span>.
        <br> 
        El total de enfermedades en inglés es: <span th:text="${EnfIng}">  </span>.
        <br> 
        El total de productos naturales en inglés es: <span th:text="${ProdNatIng}">  </span>.
        <br> 
        El total de medicamentos en inglés es: <span th:text="${MedIng}">  </span>.</p>
    </div>
    <div class = "BoxURL">
        <p><a href="https://caracas.juliocastrodev.duckdns.org" target="_blank">Enlace al gestor de la base de datos</a>
        </p>
    </div>
    <div class = "BoxURLSolicitud">
        <p><a href="https://caracas.juliocastrodev.duckdns.org/solicitud" target="_blank">Enlace al sistema de solicitudes de la base de datos</a>
        </p>
    </div>
</body>
</html>
